@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Cutive&display=swap');

html{
	width: 200px;
	height: 270px;
	background: #f8f8f8;
	color: #444444;
    text-align: center;
	margin: 0px;
}

body {
	margin: 8px;
}

.header {
	display: flex;
}

.logo {
	height: 75px;
	width: 75px;
	padding: 10px;
}

.points {
	margin-left: auto;
	margin-right: auto;
}

footer {
	text-align: center;
	grid-area: foot;
	margin-top: 5px;
}


tr, td, table{
	border-collapse: collapse;
	border:2px solid #838383;
	width: 90px;
}

tr:nth-child(even){background-color: #dadada;}

h1 {
	font-size: 1.8em;
	text-align: center;
	font-family: 'Cutive', serif;
}

hr{
	border: 2px solid #94f190;
	border-radius: 4px;
}