@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Cutive&display=swap');

html{
	width: 300px;
	height: 320px;
	background: #f8f8f8;
	color: #444444;
    text-align: left;
	margin: 0px;
}

body {
	margin: 8px;
}

.gridarea {
	display: grid;
	grid-template-areas:
					"head"
					"links"
					"table"
					"foot";
	/* grid-template-rows: 100x 1fr 30px; */
	grid-template-columns: 100%;
}

.header {
	grid-area: head;
	display: flex;
	border-bottom:#3299a8 3px double;
}

.logo {
	height: 40px;
	width: 40px;
	padding: 10px;
}

.points {
	grid-area: table;
	margin: 10px;
}

/* Was a vertical line */
/* .points::after {
	content: "";
    position: absolute;
    left: 50%;
    top: 100px;
    height: 145px;
    width: 2px;
    background: grey;
} */

.weblinks {
	grid-area: links;
	margin: 10px;
}

footer {
	text-align: center;
	grid-area: foot;
}

a:hover, a:visited:hover {
	color:#3299a8;
}

a, a:visited{
	color:#444444;
	text-decoration: none;
	transition-duration: 100ms;
}

table{
	margin-left: 3%;
}

tr td {
	padding-left: 5px;
}

h1 {
	font-size: 1.8em;
	text-align: center;
	font-family: 'Cutive', serif;
}

h2 {
	text-decoration: underline;
	width: 100%;
	font-family: 'Comfortaa', cursive;
}