@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

.button {
  text-transform: uppercase;
  font-size: 1.2em;
  width: 12em;
  padding: 3px 12px;
  margin-bottom: 9px;
  text-align: center;
}

.button, button:disabled, #new-game, #reveal, #clear_button, #move_button{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.2em solid #ebebeb;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  /* font-family:'Roboto',sans-serif; */
  font-family: 'Poppins', sans-serif ;
  font-weight: 600;
  color:#414141;
  text-align:center;
  transition: all 0.2s;
  background-color:#f0f0f0;
}
button:hover, #new-game:hover, #reveal:hover, #clear_button:hover, #move_button:hover{
  color:#000000;
  background-color:#ebebeb;
}

#score {
  font-weight: bold;
  font-size: 1.2em;
  width: 12em;
}